body {
	background-color: #da3832;
}

.home {
   font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.heading {
	text-align: center;
	padding: 0;
}

.collage {
	width: 50%;
}

.intro {
	font-family: "sweet-fancy-script", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #f7ca46;
	text-align: center;
	font-size: 80px;
	margin-top: -1em;
}

.ballpic {
	text-align: center;
	margin-top: 10%;
}

.ball {
	width: 40%;
}

/* got help for this from codepen */
 
.ball:hover {
  	animation: diagonal-move-anim 0.2s linear infinite alternate;
}

@keyframes diagonal-move-anim {

	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-30px, 30px);
	}
}

.inputs {
	text-align: center;
	margin-top: 70px;
}

input {
	width: 20%;
}

.enter {
	text-align: center;
	font-family: "sweet-fancy-script", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 150px;
	margin-top: -50px;
}

a {
	color: #f7ca46;
	text-decoration: none;
}

.gif{
	width: 100%;
}

.footer {
	text-align: center;
	margin-top: 1%;
}

@media (max-width: 1000px) {
	.intro {
		font-size: 40px;
		margin-top: -10px;
	}

	.collage {
		width: 80%;
	}

	.enter {
		font-size: 80px;
		margin-top: -30px;
	}
}