body {
	background-color: #f7ca46;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

.home {
   font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.next {
	font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.introduction {
   width: 100vw;
   display: flex;
   justify-content: center;
}

.intro {
   width: 60%;
}

.first {
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 7%;
}

.text {
   font-family: "sweet-fancy-script", sans-serif;
   font-weight: 500;
   font-style: normal;
   color: #0b78fb;
   font-size: 120px;
   margin-bottom: -1%;
}

.instruct {
   font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   color: #fff;
   font-size: 30px;
}

.main {
   display: flex;
   width: 80vw;
   justify-content: space-evenly;
   margin: auto;
   margin-bottom: 5%;
}

.rock, .paper, .scissor {
   width: 15%;
}

.rock:hover,
.paper:hover,
.scissor:hover {
   cursor: pointer;
}

.rock1, .rock2, .rock3,
.paper1, .paper2, .paper3,
.scissor1, .scissor2, .scissor3 {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   margin-top: 15%;
   margin-bottom: 8%;
}

.column {
   width: 50vw;
   display: flex;
   justify-content: space-between;
   margin-bottom: 5%;
}

.picks {
   width: 30%;
}

.result {
   font-family: "sweet-fancy-script", sans-serif;
   font-weight: 500;
   font-style: normal;
   color: #0b78fb;
   font-size: 120px; 
}

.hidden {
   display: none;
}
