* {
	cursor: url(imgs/coin.png), auto;
}

body {
	background-color: #42b24f;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

.home {
   font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.next {
	font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.main {
	text-align: center;
	width:100%;
}

.first {
	width: 60%;
	position:;
}

.chance {
	width: 20%;
	position: absolute;
	top:60vh;
	left:60vw;
}

.second {
	text-align: center;
}

.second a {
	color: #ff9999;
}

.pick {
	text-align: center;
	font-size: 200px;
	font-family: "sweet-fancy-script", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #f7ca46;
	margin-top: 30px;
}

.text {
	text-align: center;
	font-size: 30px;
	font-family: "new-spirit", serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  margin-top: -50px;
  margin-bottom: 50px;
}

.border {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.lottery1,
.lottery2,
.lottery3,
.lottery4,
.lottery5 {
	width: 35%;
	filter: grayscale(100%);
}

.lottery1:hover,
.lottery2:hover,
.lottery3:hover,
.lottery4:hover,
.lottery5:hover{
	filter: grayscale(0%);
}


.third {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.lottery11,
.lottery21,
.lottery31,
.lottery41,
.lottery51 {
	width: 80%;
	padding: 50px;
}


@media (max-width: 1000px) {

	.pick {
		font-size: 50px;
	}

	.chance {
		top: 25vh;
	}

	.border {
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.text {
		font-size: 10px;
		margin-top: -10px;
		margin-bottom: 30px;
	}
}
