body {
	background-color: #88be94;
	height: 100vh;
}

.wrapper{
	display: flex;
	margin-top: 10%;
	justify-content: space-evenly;
	height: 60vh;
}

.sidebar{
	width: 30vw;
	margin-left: 2%;
	margin-right: 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-image: url('imgs/plate.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.info {
	margin: 1% 1% 0;
	display: inline-block;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.about {
	font-size: 20px;
}

.text {
	display: none;
	position: absolute;
	width: 200px;
	background-color: white;
	padding: 0.5%;
	outline-style: solid;
	margin: 1% 0 0;
	font-size: 15px;
}

.about:hover {
	text-shadow: 0 0 10px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 20px #fff;
	cursor: pointer;
}

.pan {
	width: 900px;
}

.butter {
	width: 80px;
}


.butter:hover {
	cursor: pointer;
}

.button {
	position: absolute;
	top:10%;
	right: 10%;
	z-index: 1000;
	cursor: pointer;
}

.button img {
	width: 100px;
}

.image {
	display: none;
}

.image.active {
	display: inline-block;
}

.images img {
	width: 250px;
}

.images{
	position: relative;
	width: 250px;
	height: 250px;
}

.plain,
.start,
.toasted,
.burnt {
	position: absolute;
}

.animatehide {
	animation: animatehide 1200s forwards;
}

.animatehide2 {
	animation: animatehide 1200s forwards;
	animation-delay: 1190s;
}

.animatehide3 {
	animation: animatehide 1200s forwards;
	animation-delay: 2380s;
}

@keyframes animatehide {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.resize {
	animation: resize 7s forwards;
}

@keyframes resize {
	from {
		width: 80px;
	}

	to {
		width: 0px;
	}
}

.end {
	display: flex;
	justify-content: center;
}

.finished{
	display: none;
	font-family: 'Helvetica';
	font-size: 20px;
	cursor: pointer;
	margin-top: 2%;
}

.finished:hover {
	text-shadow: 0 0 10px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 20px #fff;
}

.eat {
	display: none;
}

.containers img:hover {
	cursor: pointer;
}

.containers {
	display: none;
}

.jam, .pb, .oil,.avo {
	position: absolute;
}

.jam {
	width: 250px;
	top: 20%;
	margin-left: 15%;
}

.pb {
	width: 200px;
	top: 60%;
	margin-left: 70%;
}

.avo {
	width: 200px;
	top: 70%;
	margin-left: 10%;
}

.oil {
	top: 5%;
	margin-left: 80%;
}

.spreads {
	position: absolute;
	width: 330px;
	height: 370px;
	display: none;
}

.spreads img {
	width: 320px;
	position: absolute;
	display: none;
	margin-top: 26%;
}

.jamspread {
	top: 3%;
}

.pbspread {
	width: 300px;
}

.avospread {
	margin-top: -3%;
}

.smoke img {
	z-index: 1000;
}

.bite {
	position: absolute;
	height: 98vh;
	width: 98vw;
}