body {
	background-image: url('imgs/sky.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.heading {
	font-family: "antipol-variable", sans-serif;
	font-variation-settings: "STCH" 1, "wdth" 100, "wght" 564;
	font-size: 130px;
	line-height: 1;
	letter-spacing: -5px;
	color: #ffff00;
	text-align: center;
	position: relative;
	top: 330px;
	text-shadow: /* had help from chatgpt */
    -2px -2px 0 #000, 
    2px -2px 0 #000,  
    -2px 2px 0 #000,  
    2px 2px 0 #000;   
}

.sea {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
}

.second {
	text-align: center;
	margin-top: 200px;
	font-family: new-kansas, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #333333;
	font-size: 30px;
}

.tree {
	width: 200px;
	position: sticky;
	margin-left: 200px;
	top: 170px;
}

.tree:hover{
	opacity: 0%;
}

.windmill {
	width: 150px;
	position: sticky;
	margin-left: 550px;
	top: 200px;
}

.windmill:hover{
	opacity: 0%;
}

.house {
	width: 350px;
	position: sticky;
	margin-left: auto;
	margin-right: auto;
	top: 350px;
}

.house:hover{
	opacity: 0%;
}

.barn {
	width: 175px;
	position: sticky;
	margin-left: 150px;
	top: 550px;
}

.barn:hover{
	opacity: 0%;
}

.cow {
	width: 125px;
	position: sticky;
	margin-left: 450px;
	top: 650px;
}

.cow:hover{
	opacity: 0%;
}

.clover {
	width: 25px;
	margin-left: 470px;
	position: sticky;
	top: 670px;
	z-index: -1;
}

.last {
	text-align: center;
	margin-top: 750px;
	opacity: 0%;
}

