::root{
	font-size:20px;
}

html {
	scroll-behavior: smooth;
}

body {
	margin:0;
}

sup {
    vertical-align: super;
    font-size: small;
}

.header{
	width: 100vw;
	background: linear-gradient(0deg, rgba(250,218,153,0) 0%, rgba(255,255,255,1) 60%);
	position: fixed;
	height: 4.5rem;
	display: flex;
	justify-content: space-between;
}

.about {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	height: max-content;
}

.about:hover {
	text-decoration: underline;
	cursor: pointer;
}

.body2 {
	display: none;
}

.body2show {
	width: 50vw;
	height: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.2;
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	width: 20vw;
}

a {
	color: black;
	text-decoration: none;
}

.nav a:hover {
	text-decoration: underline;
	  text-shadow: 0 0 10px #F5D633,
   		0 0 10px #F5D633,
    	0 0 20px #F5D633,
    	0 0 20px #F5D633;
    cursor: pointer;
}

.body {
	padding-top: 2rem;
}

.line {
	border-top: 1px solid black;
}

.section {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.2;
	padding-top: 2rem;
	padding-left: 2rem;
	width:  max-content;
}

.sectionhover:hover {
	text-decoration: underline;
	cursor: pointer;
}

.writing {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 2rem;
	width: 70vw;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.2;
}

.houserulesindent {
	display: block;
	text-indent: -3.40rem;
	padding-left: 3.40rem;
}

.houserulesindent2 {
	display: block;
	text-indent: -5.25rem;
	padding-left: 6rem;
}

.sources {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	columns: 2;
	margin-left: 5rem;
}

.sourcestext {
	display: block;
}

#houseineurope {
	text-indent: -0.2rem;
	padding-left: 1rem;
}

#masterplan,
#gridat200,
#manhattanstreets,
#forgottenhistory,
#avenues,
#houserules,
#tulsa,
#interview {
	text-indent: -0.5rem;
	padding-left: 1rem;
}

#brooklyn,
#queens {
	text-indent: -1rem;
	padding-left: 1rem;
}

#insertsone, #insertsthree {
	font-family: Arial, Helvetica, sans-serif;
	background: #F3C616;
	padding: 1.5rem;
	width: 17vw;
	display: none;
	position: absolute;
}

.insertstext {
	font-size: 17px;
	line-height: 1.2;
}

.insertssources {
	font-size: 15px;
	line-height: 1.2;
}

.letter:hover {
	text-decoration: underline;
/*	  text-shadow: 0 0 10px #F3C616,
   		0 0 10px #F3C616,
    	0 0 20px #F3C616,
    	0 0 20px #F3C616;*/
    cursor: pointer;
    text-shadow:0 0 2px #F3C616;
}

img{
	width: 15em;
}

.images img:hover {
	box-shadow: 0 0 10px #F3C616; 
    cursor: pointer;
}

.images img {
	display: none;
	position: absolute;
}

.fullscreen {
	width: 40em;
	height: auto;
	position: absolute;
	z-index: 99999;
}

.sourcestext {
	cursor: pointer;
}

.highlight {
	text-shadow: 0 0 10px #F3C616,
   		0 0 10px #F3C616;
}

.map {
    position: fixed;
    bottom: 0;
    right: 0;
    padding:1rem;
}

.map img{
	width: 5rem;
	border-radius: 25px;
	border: 2px solid #F3C616;
	transition: width 0.3s ease;
}

.map img:hover {
	box-shadow: 0 0 10px #F3C616; 
	cursor: pointer;
	width: 10rem;
}

.mapimgs img{
	padding:0.5rem;
	width: 8rem;
}

.body3{
	display: none;
}

.body3show{
	display: grid;
	grid-template-columns: 0.75fr 2.25fr;
	width: 99vw;
	padding-top: 4rem;
	column-gap: 4rem;
}

.mapindex {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-left: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.3;
}

.mapimgs {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
