body {
	background-color: #ff64a9;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

.home {
   font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.next {
	font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.start {
   display: flex;
   justify-content: center;
   width: 100vw;
   margin-top: 2%;
   margin-bottom: 3%;
}

.gif {
   width: 40%;
}

.text {
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.name {
   font-family: "sweet-fancy-script", sans-serif;
   font-weight: 500;
   font-style: normal;
   color: #f7ca46;
   font-size: 120px;
}

.instructions {
   font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   color: white;
   font-size: 30px;
   margin-top: -2%;
}

.main {
   display: flex;
   width: 80vw;
   justify-content: space-between;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   margin-bottom: 5%;
}

.bw {
   filter: grayscale(100%);
}

video {
   width: 50%;
   cursor: pointer;
}

.end {
   width: 100vw;
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url("imgs/petals.png");
   background-size: cover;
}

.last {
   font-family: sweet-fancy-script, sans-serif;
   font-weight: 500;
   font-style: normal;
   font-size: 100px;
   color: #f7ca46;
}

@media (max-width: 1000px){
   .main {
      flex-wrap: wrap;
      flex-direction: column;
      width: 100vw;
      align-items: center;
   }

   .name {
      font-size: 80px;
   }

   .instructions {
      font-size: 20px;
   }

   .last {
      font-size: 50px;
   }
}