@font-face {
    font-family: 'glyphworldflower';
    src: url('font/glyphworld-flower-webfont.woff2') format('woff2'),
         url('font/glyphworld-flower-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	cursor: url('imgs/bee.png'), auto;
}

body {
    background-image: url("imgs/field.png");
	background-repeat: repeat, no-repeat;
	background-size: cover;
	padding: 0px;

}

.home {
   font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.next {
	font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}


.first {
	text-align: center;
	padding: 50px;
	font-family: nautica, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
	color: #ff9999;
	z-index: 2;
}

.second {
	text-align: center;
	color: #ffcc66;
	font-family: glyphworldflower;
	font-size: 120px;
	position: relative;
	top: -180px;
	z-index: -1;
}

.staticone {
	position:relative;
	margin-left: 300px;
	width: 300px;
	border: 10px solid #ff9999;
}

.staticone:hover {
	opacity: 0;
}

.activeone {
	position: relative;
	margin-left: -324px;
	z-index: -1;
	width: 300px;
	border: 10px solid #ff9999;
}

.statictwo {
	position:relative;
	margin-left: 730px;
	width: 300px;
	top: -475px;
	border: 10px solid #ff9999;
}

.statictwo:hover {
	opacity: 0;
}

.activetwo {
	position: relative;
	margin-left: -324px;
	z-index: -1;
	width: 300px;
	top: -475px;
	border: 10px solid #ff9999;
}

.staticthree {
	position:relative;
	margin-left: 1170px;
	width: 300px;
	top: -945px;
	border: 10px solid #ff9999;
}

.staticthree:hover {
	opacity: 0;
}

.activethree {
	position: relative;
	margin-left: -324px;
	z-index: -1;
	width: 300px;
	top: -945px;
	border: 10px solid #ff9999;
}

.last {
	position: relative;
	bottom: 800px;
	text-align: center;
	font-family: nautica, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
	color: #ffcc66;
	font-size: 180px;
}