body{
	background-color: #32a056;
}

.home {
   font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.next {
	font-family: "new-spirit", serif;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: #fff;
}

.heading {
	display:flex;
	justify-content: center;
}

.title {
	width: 70%;
}

.type {
	font-family: "sweet-fancy-script", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #fff;
	font-size: 100px;
	text-align: center;
	margin-top: -10px;
}

.container {
	display: flex;
	width: 100vw;
}

.column1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100vw
}

.column2 {
	display: flex;
	justify-content: flex-end;
}

.bingoboard {
	width: 60%;
	padding: 20px;
}

.images {
	width: 100%;
}

.text {
	font-size: 300px;
}

@media (max-width: 1000px) {
	body {
		margin-top: 20px;
	}
	.type {
		font-size: 60px;
	}
}

